*.pyc
*~
interpol_models/
interpol_models_marcs/
MOOG2013/
Amoeba_tunned/
Amebsa_tunned/
save_folder/
running_dir/
ARESv4/build/
ARESv4/dist/
SPECPAR.log
tmcalc_cython/build/
tmcalc_cython/tmcalc_module.so
ARESv4/*.log
tmcalc_cython/*.log